hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
body{
  background-attachment:fixed;
  background-image: url("/images/confectionary.png");
  padding-top: 65px;
}
img {
    width: 100%;
    height: auto;
}
th{
  font-family: "Tahoma", Geneva, sans-serif;
  font-weight: bold;
  color:  #212f3d;
  font-size: 16px;
}
td{
  font-family: "Tahoma", Geneva, sans-serif;
  color:#212f3d;
  font-size:  16px;
}
td a{
  font-family: "Tahoma", Geneva, sans-serif;
  color:  #5dade2   ;
}
td a i{
  font-size:  20px;
  font-family: "Tahoma", Geneva, sans-serif;
  color: #2ecc71 ;
}
#page{
  min-height:570px;
  padding:1%;
  width:100%;
  height: inherit;
  background-color: rgba(254, 254, 254, 0.7);
}
#main-panel-head{
  border-radius: 0;
  background-color: #e5e7e9 ;
  font-weight: bold;
}
#main-panel-body{
  border-radius: 0;
  background-color: #f8f9f9 ;
}
#dashboardBox{
  text-align: center;
  height:100px;
  margin-top:30px;
}
#dashboardBox p{
  font-size: 16px;
  color: white;
  line-height: normal;

}
#dashboardBox i{

  color: white;
  line-height: normal;
}

.messageInfo{
  padding:10px;
  margin:10px;
  width:100%;
  height:100px;

}
#inbox{
  height:800px;
  overflow: auto;
}
