hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
body{
  background-attachment:fixed;
  background-image: url("/images/confectionary.png");
  padding-top: 65px;
}
img {
    width: 100%;
    height: auto;
}
#page{
  min-height:570px;
  padding:2%;
  width:80%;
  height: inherit;
  margin-left: 10%;
  background-color: rgba(200, 200, 200, 0.4);
}
#imageDiv{
  margin-left: 5%;
  width:90%;
  height:inherit;

}
#dqImage{
  margin:0;
  max-width:300px;
  width:60%;
  height:inherit;
}
.image-container{
  width:inherit;
  display: flex;
  justify-content: center;
}

#educationIndexPanel{
  margin-top: 15px;
  margin:10px;
  background-color:white;
}
#video1{
 width:100%;
 height: 500px;
}
#exampleNav{
  background-color: #00A1AE;
  color: white;
}
#exampleNav:focus{
  background-color: white;
  color: #00A1AE;
}
#exampleNav:hover{
  background-color: #00becc;
  color: white;
}
.jumbotron{
  background-color: #ffffff;
  height:150px;

}

.jumbotron h1{
  margin-top: -20px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;

}
.jumbotron p{
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;

}
#bannerDepartments{

  background-color: #ffffff;
  margin-bottom: 0px;
  background-image: url("/images/panel1.png");
}
#bannerEducation{
  margin-bottom: 0px;
  background-image: url("/images/panel4.jpg ");
}
#bannerlearning{
  margin-bottom: 0px;
  background-image: url("/images/panel3.png");
}
#linksHeadings {
  color:white;
}
#linksHeadings:hover {
  color:black;
}

#indexBanner{
   background-image: url("/images/background7.jpg");
   margin-bottom: 5px;
   height: 700px;

}
#indexBannerText  h3{
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 0px 0px 25px white, 0px 0px 25px white, 0px 0px 25px white;
}
#indexBannerText  h1{
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  text-shadow: 0px 0px 40px white, 0px 0px 40px white, 0px 0px 40px white;
}
#indexBannerText {
  margin-top: 100px;

}

#indexImageLink{
  padding:2px;


}
#indexImageLink:hover{
  padding:2px;
  border-style: solid;
  border-color: black;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.layer:hover {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#panelHover:hover{
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#wrapper {
    width:100%;;
    height:250px;
    display: inline-block;
    position: relative;
}
#hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 188, 212, 0);
    transition: background-color 0.5s;
}

#hover:hover {
    background-color: rgba(0, 63, 168, 0.1);
    // You can tweak with other background properties too (ie: background-image)...
}
