hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
body{
  width: 100%;
  background-attachment:fixed;
  background-image: url("/images/confectionary.png");
}
img {
  width: 100%;
  height: auto;
  max-height:280px;
}
.jumbotron h1 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 70px;
	font-style: normal;
	font-variant: normal;
	line-height: 10px;
  color: #F2F3F4;
  text-align: center;

}
h3 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 15.4px;
}
p {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
#page{
  margin-left:0%;
  width:100%;
  margin:0px;
  height: inherit;
  background-color: rgba(200, 200, 200, 0.4);
}
#indexBanner{
   background-image: url("/images/background7.jpg");
   height: 400px;

}
#indexBannerText  h3{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: none;
	line-height: 50px;
  color: #003270;
  text-align: center;

}
#indexBannerText  h1{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-variant: normal;
  line-height:100px;
  color: #003270;
  text-align: center;
  font-weight: bold;
text-shadow: 0px 0px 5px white, 0px 0px 10px white, 0px 0px 10px white;
}
#indexBannerText {
  margin-top: 60px;

}
#indexText{
  font-size: 120%;
  font-weight: 300;
  line-height: 30px;
}
#Image{
  display: none;
}
#helpImage{
  display:none;
}
#imageDiv{
  margin-left: 15%;
  width:70%;
  height:inherit;
}
.image-container{
  width:inherit;
  display: flex;
  justify-content: center;
}
#educationIndexPanel{
  margin-top: 15px;
  margin:10px;
  background: radial-gradient(white 50%, #f4f6f7 )
}
#video{
 width:90%;
 margin-left: 5%;
 height: 400px;
}
#exampleNav{
  background-color: #00A1AE;
  color: white;
}
#exampleNav:focus{
  background-color: white;
  color: #00A1AE;
}
#exampleNav:hover{
  background-color: #00becc;
  color: white;
}
.jumbotron{
  background-color: #ffffff;
  height:140px;

}
#bannerDepartments{
  background-color: #ffffff;
  height: 110px;
  opacity: 0.8;
  margin-bottom: 0px;
  background-image: url("/images/panel1.png");
}
.jumbotron h1 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	line-height: 10px;
  color: #F2F3F4;
  text-align: center;
  text-shadow: 0px 0px 1px black, 0px 0px 4px black, 0px 0px 4px black;

}

#bannerEducation{
  opacity: 0.8;
  height: 110px;
  margin-bottom: 0px;
  background-image: url("/images/panel4.jpg ");
}
#bannerlearning{
  opacity: 0.8;
  height: 110px;
  margin-bottom: 0px;
  background-image: url("/images/panel3.png");
}
#linksHeadings {
  color:white;
}
#linksHeadings:hover {
  color:black;
}



#indexImageLink{
  padding:2px;


}
#indexImageLink:hover{
  padding:2px;
  border-style: solid;
  border-color: black;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.layer:hover {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#panelHover:hover{
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#wrapper {
    width:100%;;
    height:250px;
    display: inline-block;
    position: relative;
}
#hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 188, 212, 0);
    transition: background-color 0.5s;
}

#hover:hover {
    background-color: rgba(0, 63, 168, 0.1);
    // You can tweak with other background properties too (ie: background-image)...
}
