hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
body{
  width: 100%;
  background-color: white;
  padding-top: 65px;
}
img {
  width: 100%;
  height: auto;
  max-height:280px;
}
#indexImage{
  display: none;
}
#helpImage{
  display:none;
}
#imageDiv{
  margin-left: 15%;
  width:70%;
  height:inherit;
}
.image-container{
  width:inherit;
  display: flex;
  justify-content: center;
}
#educationIndexPanel{
  margin-top: 15px;
  margin:10px;
  background: radial-gradient(white 50%, #f4f6f7 )
}
#video{
 width:90%;
 margin-left: 5%;
 height: 400px;
}
#exampleNav{
  background-color: #00A1AE;
  color: white;
}
#exampleNav:focus{
  background-color: white;
  color: #00A1AE;
}
#exampleNav:hover{
  background-color: #00becc;
  color: white;
}
.jumbotron{
  background-color: #ffffff;
  height:150px;

}
#bannerDepartments{
  background-color: #ffffff;
  height: 110px;
  opacity: 0.8;
  margin-bottom: 0px;
  background-image: url("/images/dots.png");
}
.jumbotron h1{
  margin-top: -20px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;

}
.jumbotron p{
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;

}
#bannerEducation{
  opacity: 0.8;
  height: 110px;
  margin-bottom: 0px;
  background-image: url("/images/blob.png");
}
#bannerlearning{
  opacity: 0.8;
  height: 110px;
  margin-bottom: 0px;
  background-image: url("/images/background.png");
}
#linksHeadings {
  color:white;
}
#linksHeadings:hover {
  color:black;
}
#page{
  margin-left:0%;
  width:98%;
  margin:10px;
  height: inherit;
  background-color: white;
}
#indexBanner{
   background-image: url("/images/Background1.jpg");
   height: 400px;

}
#indexBannerText  h3{
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px 2px white, 0 0 25px grey, 0 0 5px darkblue;
}
#indexBannerText  h1{
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  text-shadow: 1px 1px 2px white, 0 0 25px grey, 0 0 5px darkblue;
}
#indexBannerText {
  margin-top: 60px;

}

#indexImageLink{
  padding:2px;


}
#indexImageLink:hover{
  padding:2px;
  border-style: solid;
  border-color: black;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.layer:hover {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#panelHover:hover{
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#wrapper {
    width:100%;;
    height:300px;
    display: inline-block;
    position: relative;
}
#hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 188, 212, 0);
    transition: background-color 0.5s;
}

#hover:hover {
    background-color: rgba(0, 63, 168, 0.1);
    // You can tweak with other background properties too (ie: background-image)...
}
